<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title">

  <div formArrayName="attributes">

    <div *ngFor="let attr of attributes.controls; let idx = index;">
      <div [formGroupName]="idx">
        <input type="text" formControlName="name">
        <label *ngFor="let perm of permissions">
          <input type="radio" [value]="perm.value" formControlName="permissions" >
          {{ perm.title }}
        </label>
      </div>
    </div>
  </div>

  <pre>{{ form.value | json }}</pre>
  <ng-content></ng-content>
</form>
